body{
  background-color: rgb(179, 196, 190) ;
}

h1{
  /* background-color: rgb(8, 8, 8); */
  color: rgb(40, 131, 63);
  text-align: center;
  padding: 5px
  

}

h2{
  text-align: center;
  padding: 10px;
  font-family: system-ui;
  

}

#submitButton{
  position: relative;
  text-align: right;
  cursor: pointer;
 
 }

 table {
  border-collapse: collapse;
  width: 100%;
  background-color: ;
  text-align: left;
}

#monthlySalary{
  text-align: right;
}

main{
  border-radius: 5px;
}


#submitButton:hover{
  background-color: lightgreen;
}

.deleteButton:hover{
  background-color: red;
}





