h2{
 background-color:white;
 color: black
 font-style: oblique;
 
}

button{
 position: relative;
 text-align: right;
 float right;
  
  
}


table {
  border-collapse: collapse;
  width: 85%;
}

th {
  height: 40px;
}

table, td, th {
  border: 1px solid black;
}

h1{
  text-align: center;
  background-color: gray;
  color: white;
  height: 70px
}

 td{
  padding: 5px;
  border-bottom: 1px solid ;
}

tr:hover{
background-color: grey
}


